
.sectionRecipetDuo{
    width: 100%;
    height: 1000px;
    background-color: $bodycolor;
}

.sectionRecipetDuo_left{
    width: 50%;
    height: 1000px;
    background-color: $secondtextColor;
    position: absolute;
    top:50px;
}
