.sectionRecipeDuo{
    width: 100%;
    height: 100%;
    justify-content: space-between;
    background-color: $secondtextColor;
}

.sectionRecipetDuo_rigth{
    width: 50%;
    height: 950px;
    background-color: $bodycolor;
    position: absolute;
    left: 50%;
    top:0px;
}

//__________________________________________

.sectionRecipeDio_left_picto1{
    position: absolute;
    top:120px;
    left: 20px;
}

.sectionRecipeDio_left_picto2{
    position: absolute;
    top:120px;
    left: 90px;
}

p{
    font-size: 18px;
}
//______________0 LEFT____________________


.sectionRecipeDio_left0_img{
    margin-top: 200px;
    margin-left: 150px;
}

.sectionRecipeDio_left0_img.active{
   display: none;
}

//______________0 RIGHT____________________
.sectionRecipeDio_right0{
    margin-bottom:500px;
    height: 990px;
    padding: 150px 50px;
    
}

.sectionRecipeDio_rightO.active{
    display: none;
}


.sectionRecipeDio_right0_p1{
    background-color:$IAdialogue;
    padding: 14px 20px;
    border-radius: 10px;
    width:580px ;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sectionRecipeDio_right0_p2{
    background-color:$DialogueUtilisateur;
    color: $secondtextColor;
    text-align: right;
    padding: 14px 20px;
    border-radius: 10px;
    width:50px ;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 670px;
}


.sectionRecipeDio_right0_button{
    width: 144px;
    padding: 14px 33px 14px 27px;
    align-items: flex-start;
    border-radius: 8px;
    margin-left: 330px;
    margin-top: 500px;
    cursor: pointer;

}

//__________________________________________
//__________________________________________
//__________________________________________
//__________________________________________


//________________1 LEFT____________________

.sectionRecipeDio_left1_img{
    margin-top: 200px;
    margin-left: 150px;
    display: none;
}

.sectionRecipeDio_left1_img.active{
    display: block;
}

//________________1 RIGHT____________________

.sectionRecipeDio_right1{
    margin-bottom:500px;
    height: 990px;
    padding: 150px 50px;
    display: none;
}

.sectionRecipeDio_right1.active{
    display: block;
}

.sectionRecipeDio_right1_p1{
    background-color:$IAdialogue;
    padding: 14px 20px;
    border-radius: 10px;
    width:580px ;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sectionRecipeDio_right1_p2{
    background-color:$DialogueUtilisateur;
    color: $secondtextColor;
    text-align: right;
    padding: 14px 20px;
    border-radius: 10px;
    width:50px ;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 670px;
}

.sectionRecipeDio_right_button{
    width: 200px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 850px;
    left: 350px;
}

.sectionRecipeDio_right1_button{
    width: 200px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;   
    display: flex;
    justify-content: space-between; 
}



.sectionRecipeDio_p1left_button_round{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    font-size: 36px;
}


.sectionRecipeDio_p1right_button_round{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    font-size: 36px;
}

//__________________________________________
//__________________________________________
//__________________________________________
//__________________________________________


//________________2 LEFT____________________

.sectionRecipeDio_left2_img{
    margin-top: 200px;
    margin-left: 150px;
    display: none;
}

.sectionRecipeDio_left2_img.active{
    display: block;
}

//________________2 RIRGHT____________________

.sectionRecipeDio_right2{
    margin-bottom:500px;
    height: 990px;
    padding: 150px 50px;
    display: none;
}

.sectionRecipeDio_right2.active{
    display: block;
}

.sectionRecipeDio_right2_p1{
    background-color:$IAdialogue;
    padding: 14px 20px;
    border-radius: 10px;
    width:580px ;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sectionRecipeDio_right2_p2{
    background-color:$IAdialogue;
    padding: 14px 20px;
    border-radius: 10px;
    width:280px ;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sectionRecipeDio_right2_p3{
    background-color:$IAdialogue;
    padding: 14px 20px;
    border-radius: 10px;
    width:580px ;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.sectionRecipeDio_right2_button{
    position: absolute;
    bottom: -500px;
    width: 200px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 300px;
    display: flex;
    justify-content: space-between;
}



.sectionRecipeDio_p2left_button_round{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    font-size: 36px;
}


.sectionRecipeDio_p2right_button_round{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    font-size: 36px;
}

//__________________________________________
//__________________________________________
//__________________________________________
//__________________________________________

//________________3 LEFT____________________

.sectionRecipeDio_left3_img{
    margin-top: 200px;
    margin-left: 150px;
    display: none;
}

.sectionRecipeDio_left3_img.active{
    display: block;
}

//________________3 RIRGHT____________________

.sectionRecipeDio_right3{
    margin-bottom:500px;
    height: 990px;
    padding: 150px 50px;
    display: none;
}

.sectionRecipeDio_right3.active{
    display: block;
}

.sectionRecipeDio_right3_p1{
    background-color:$IAdialogue;
    padding: 14px 20px;
    border-radius: 10px;
    width:580px ;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.sectionRecipeDio_right3_button{
    position: absolute;
    bottom: -500px;
    width: 200px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 300px;
    display: flex;
    justify-content: space-between;
}



.sectionRecipeDio_p3left_button_round{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    font-size: 36px;
}


.sectionRecipeDio_p3right_button_round{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    font-size: 36px;
}

//__________________________________________
//__________________________________________
//__________________________________________
//__________________________________________

//________________4 LEFT____________________

.sectionRecipeDio_left4_img{
    margin-top: 200px;
    margin-left: 150px;
    display: none;
}

.sectionRecipeDio_left4_img.active{
    display: block;
}

//________________4 RIRGHT____________________

.sectionRecipeDio_right4{
    margin-bottom:500px;
    height: 990px;
    padding: 150px 50px;
    display: none;
}

.sectionRecipeDio_right4.active{
    display: block;
}

.sectionRecipeDio_right4_p1{
    background-color:$IAdialogue;
    padding: 14px 20px;
    border-radius: 10px;
    width:580px ;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.sectionRecipeDio_right4_button{
    position: absolute;
    bottom: -500px;
    width: 200px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 300px;
    display: flex;
    justify-content: space-between;
}


.sectionRecipeDio_p4left_button_round{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    font-size: 36px;
}


.sectionRecipeDio_p4right_button_round{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    font-size: 36px;
}


//__________________________________________
//__________________________________________
//__________________________________________
//__________________________________________

//________________5 LEFT____________________

.sectionRecipeDio_left5_img{
    margin-top: 200px;
    margin-left: 150px;
    display: none;
}

.sectionRecipeDio_left5_img.active{
    display: block;
}

//________________5 RIRGHT____________________

.sectionRecipeDio_right5{
    margin-bottom:500px;
    height: 990px;
    padding: 150px 50px;
    display: none;
}

.sectionRecipeDio_right5.active{
    display: block;
}

.sectionRecipeDio_right5_p1{
    background-color:$IAdialogue;
    padding: 14px 20px;
    border-radius: 10px;
    width:580px ;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.sectionRecipeDio_right5_button{
    width: 200px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 300px;
    display: flex;
    justify-content: space-between;
}


.sectionRecipeDio_p5left_button_round{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    font-size: 36px;
}


.sectionRecipeDio_p5right_button_round{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    font-size: 36px;
}


//__________________________________________
//__________________________________________
//__________________________________________
//__________________________________________

//________________6 LEFT____________________

.sectionRecipeDio_left6_img{
    margin-top: 200px;
    margin-left: 150px;
    display: none;
}

.sectionRecipeDio_left6_img.active{
    display: block;
}

//________________6 RIRGHT____________________

.sectionRecipeDio_right6{
    margin-bottom:500px;
    height: 990px;
    padding: 150px 50px;
    display: none;
}

.sectionRecipeDio_right6.active{
    display: block;
}

.sectionRecipeDio_right6_p1{
    background-color:$IAdialogue;
    padding: 14px 20px;
    border-radius: 10px;
    width:580px ;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 40px;
    margin-top: 80px;
}

.sectionRecipeDio_right6_p2{
    background-color:$DialogueUtilisateur;
    color: $secondtextColor;
    padding: 14px 20px;
    border-radius: 10px;
    text-align: right;
    width:280px ;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 450px;
    margin-bottom: 40px;

}

.sectionRecipeDio_right6_p3{
    background-color:$IAdialogue;
    padding: 14px 20px;
    border-radius: 10px;
    width:280px ;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sectionRecipeDio_right6_p3_min{
    padding: 20px 50px;
    border-radius: 10px;
    border-color:$primarytextColor ;
    border: 3px solid;
    font-size: 60px;
}

.sectionRecipeDio_right6_button{
    width: 200px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 300px;
    display: flex;
    justify-content: space-between;
}


.sectionRecipeDio_p6left_button_round{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    font-size: 36px;
}


.sectionRecipeDio_p6right_button_round{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    font-size: 36px;
}


//__________________________________________
//__________________________________________
//__________________________________________
//__________________________________________

//________________7 LEFT____________________

.sectionRecipeDio_left7_img{
    margin-top: 200px;
    margin-left: 150px;
    display: none;
}

.sectionRecipeDio_left6_img.active{
    display: block;
}

//________________7 RIRGHT____________________

.sectionRecipeDio_right7{
    margin-bottom:500px;
    height: 990px;
    padding: 150px 50px;
    display: none;
}

.sectionRecipeDio_right7.active{
    display: block;
}

.sectionRecipeDio_right7_p1{
    background-color:$IAdialogue;
    padding: 14px 20px;
    border-radius: 10px;
    width:580px ;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 80px;
}

.sectionRecipeDio_right7_p2{
    background-color:$DialogueUtilisateur;
    color: $secondtextColor;
    padding: 14px 20px;
    border-radius: 10px;
    width:60px ;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 670px;
    text-align: right;

}


.sectionRecipeDio_right7_button{
    width: 1000px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: space-between;
}


.sectionRecipeDio_p7left_button{
    width: 144px;
    padding: 14px 33px 14px 27px;
    align-items: flex-start;
    border-radius: 8px;
    margin-right: 50px;
    cursor: pointer;
    background-color: $secondtextColor;
    color: $primarytextColor;
    font-size: 18px;
}

/*___IPAD___*/


@media only screen and (max-width: 1024px){

    .sectionRecipeDio_left_picto1{
        position: absolute;
        top:120px;
        left: 20px;
        width: 35px;
        height: 35px;
    }
    
    .sectionRecipeDio_left_picto2{
        position: absolute;
        top:120px;
        left: 75px;
        width: 35px;
        height: 35px;
    
    }
    .sectionRecipeDuo{
    width: 100%;
    height: 100%;
    justify-content: space-between;
    background-color: $secondtextColor;
}

.sectionRecipetDuo_rigth{
    width: 100%;
    height: 600px;
    background-color: $bodycolor;
    position: absolute;
    top:750px;
    left:0px;
}

//_________________________________0

.sectionRecipeDio_right0{
    width: 700px;
    height: 500px;
    margin-top: -50px;
    margin-left: 60px;
}

.sectionRecipeDio_right0_button{
    width: 144px;
    padding: 14px 33px 14px 27px;
    align-items: flex-start;
    border-radius: 8px;
    margin-left: 330px;
    margin-top: 200px;
    cursor: pointer;

}

.sectionRecipeDio_left0_img{
    margin-top: 200px;
    margin-left: 250px;
    width: 500px;
    height: 500px;
}
//_________________________________button


.sectionRecipeDio_right_button{
    width: 200px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 470px;
    left: 400px;

}

//_________________________________1

.sectionRecipeDio_right1{
    width: 700px;
    height: 500px;
    margin-top: -50px;
    margin-left: 60px;
}

.sectionRecipeDio_left1_img{
    margin-top: 200px;
    margin-left: 250px;
    display: none;
}

}
//_________________________________2

.sectionRecipeDio_right2{
    width: 700px;
    height: 500px;
    margin-top: -50px;
    margin-left: 60px;
}

.sectionRecipeDio_left2_img{
    margin-top: 200px;
    margin-left: 300px;
    display: none;
}

//_________________________________3

.sectionRecipeDio_right3{
    width: 700px;
    height: 500px;
    margin-top: -50px;
    margin-left: 60px;
}

.sectionRecipeDio_left3_img{
    margin-top: 200px;
    margin-left: 350px;
    display: none;
}

//_________________________________4

.sectionRecipeDio_right4{
    width: 700px;
    height: 500px;
    margin-top: -50px;
    margin-left: 60px;
}

.sectionRecipeDio_left4_img{
    margin-top: 200px;
    margin-left: 350px;
    display: none;
}

//_________________________________5

.sectionRecipeDio_right5{
    width: 700px;
    height: 500px;
    margin-top: -50px;
    margin-left: 60px;
}

.sectionRecipeDio_left5_img{
    margin-top: 200px;
    margin-left: 300px;
    display: none;
}

//_________________________________6
.sectionRecipeDio_right6{
    width: 700px;
    height: 500px;
    margin-top: -100px;
    margin-left: 60px;
}

.sectionRecipeDio_left6_img{
    margin-top: 200px;
    margin-left: 350px;
    display: none;
}

.sectionRecipeDio_right6_p3{
    background-color:$IAdialogue;
    padding: 5px 20px;
    border-radius: 10px;
    width:280px ;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sectionRecipeDio_right6_p3_min{
    padding: 5px 50px;
    border-radius: 10px;
    border-color:$primarytextColor ;
    border: 3px solid;
    font-size: 60px;
}

//_________________________________7
.sectionRecipeDio_right7{
    width: 700px;
    height: 500px;
    margin-top: -100px;
    margin-left: 50px;
}

.sectionRecipeDio_left7_img{
    margin-top: 200px;
    margin-left: 250px;
    display: none;
}

.sectionRecipeDio_p7left_button{
    width: 144px;
    padding: 14px 33px 14px 27px;
    align-items: flex-start;
    border-radius: 8px;
    margin-right: 50px;
    margin-left: -20px;
    cursor: pointer;
    background-color: $secondtextColor;
    color: $primarytextColor;
    font-size: 18px;
}



/*____TELEPHONE____*/


@media only screen and (max-width: 678px){
    p{
        font-size: 12px;
    }

    .sectionRecipeDuo{
        width: 100%;
        height: 300px;
        justify-content: space-between;
        background-color: $secondtextColor;
    }
    
    .sectionRecipetDuo_rigth{
        width: 100%;
        height: 350px;
        background-color: $bodycolor;
        position: absolute;
        top:550px;
        left:0px;
    }

//___________________

.sectionRecipeDio_left_picto1{
    position: absolute;
    top:120px;
    left: 20px;
    width: 25px;
    height: 25px;
}

.sectionRecipeDio_left_picto2{
    position: absolute;
    top:120px;
    left: 65px;
    width: 25px;
    height: 25px;

}

//_________________________________0

.sectionRecipeDio_right0{
    width: 100%;
    height: 300px;
    margin-top: -100px;
    margin-left: -40px;
}

.sectionRecipeDio_right0_p1{
    background-color:$IAdialogue;
    padding: 14px 20px;
    border-radius: 10px;
    width:370px ;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sectionRecipeDio_right0_p2{
    background-color:$DialogueUtilisateur;
    color: $secondtextColor;
    text-align: right;
    padding: 14px 20px;
    border-radius: 10px;
    width:50px ;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 350px;
}


.sectionRecipeDio_right0_button{
    width: 90px;
    padding: 10px 10px;
    align-items: flex-start;
    font-size: 12px;
    border-radius: 8px;
    margin-left: 180px;
    margin-top: 80px;
    cursor: pointer;

}

.sectionRecipeDio_left0_img{
    margin-top: -120px;
    margin-left: 80px;
    width: 300px;
    height: 300px;
}

//_________________________________1

.sectionRecipeDio_right1{
    width: 100%;
    height: 300px;
    margin-top: -100px;
    margin-left: -40px;
}

.sectionRecipeDio_right1_p1{
    background-color:$IAdialogue;
    padding: 14px 20px;
    border-radius: 10px;
    width:370px ;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sectionRecipeDio_right1_p{
    background-color:$DialogueUtilisateur;
    color: $secondtextColor;
    text-align: right;
    padding: 14px 20px;
    border-radius: 10px;
    width:50px ;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 350px;
}


.sectionRecipeDio_left1_img{
    margin-top: -120px;
    margin-left: 80px;
    width: 300px;
    height: 300px;
}

.sectionRecipeDio_right_button{
    width: 90px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 290px;
    left: 200px;
}

.sectionRecipeDio_right1_button{
    position: absolute;
    bottom: -500px;
    width: 150px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 300px;
    display: flex;
    justify-content: space-between;
}



.sectionRecipeDio_p1left_button_round{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    font-size: 16px;
}


.sectionRecipeDio_p1right_button_round{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    font-size: 16px;
}

//_________________________________2

.sectionRecipeDio_right2{
    width: 100%;
    height: 300px;
    margin-top: -100px;
    margin-left: -40px;
}

.sectionRecipeDio_right2_p1{
    background-color:$IAdialogue;
    padding: 14px 20px;
    border-radius: 10px;
    width:370px ;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.sectionRecipeDio_right2_p2{
    background-color:$IAdialogue;
    padding: 14px 20px;
    border-radius: 10px;
    width:370px ;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sectionRecipeDio_right2_p3{
    background-color:$IAdialogue;
    padding: 14px 20px;
    border-radius: 10px;
    width:370px ;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sectionRecipeDio_left2_img{
    margin-top: -120px;
    margin-left: 80px;
    width: 300px;
    height: 300px;
}

.sectionRecipeDio_right_button{
    width: 90px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 290px;
    left: 200px;
}

.sectionRecipeDio_right2_button{
    position: absolute;
    bottom: -500px;
    width: 150px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 300px;
    display: flex;
    justify-content: space-between;
}



.sectionRecipeDio_p2left_button_round{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    font-size: 16px;
}


.sectionRecipeDio_p2right_button_round{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    font-size: 16px;
}

//_________________________________3

.sectionRecipeDio_right3{
    width: 100%;
    height: 300px;
    margin-top: -100px;
    margin-left: -40px;
}

.sectionRecipeDio_right3_p1{
    background-color:$IAdialogue;
    padding: 14px 20px;
    border-radius: 10px;
    width:370px ;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sectionRecipeDio_left3_img{
    margin-top: -120px;
    margin-left: 110px;
    width: 250px;
    height: 300px;
}

.sectionRecipeDio_right_button{
    width: 90px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 290px;
    left: 200px;
}

.sectionRecipeDio_right3_button{
    position: absolute;
    bottom: -500px;
    width: 150px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 300px;
    display: flex;
    justify-content: space-between;
}



.sectionRecipeDio_p3left_button_round{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    font-size: 16px;
}


.sectionRecipeDio_p3right_button_round{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    font-size: 16px;
}

//_________________________________4

.sectionRecipeDio_right4{
    width: 100%;
    height: 300px;
    margin-top: -100px;
    margin-left: -40px;
}

.sectionRecipeDio_right4_p1{
    background-color:$IAdialogue;
    padding: 14px 20px;
    border-radius: 10px;
    width:370px ;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sectionRecipeDio_left4_img{
    margin-top: -120px;
    margin-left: 110px;
    width: 250px;
    height: 300px;
}

.sectionRecipeDio_right_button{
    width: 90px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 290px;
    left: 200px;
}

.sectionRecipeDio_right4_button{
    position: absolute;
    bottom: -500px;
    width: 150px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 300px;
    display: flex;
    justify-content: space-between;
}



.sectionRecipeDio_p4left_button_round{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    font-size: 16px;
}


.sectionRecipeDio_p4right_button_round{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    font-size: 16px;
}


//_________________________________5

.sectionRecipeDio_right5{
    width: 100%;
    height: 300px;
    margin-top: -100px;
    margin-left: -40px;
}

.sectionRecipeDio_right5_p1{
    background-color:$IAdialogue;
    padding: 14px 20px;
    border-radius: 10px;
    width:370px ;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sectionRecipeDio_left5_img{
    margin-top: -120px;
    margin-left: 110px;
    width: 250px;
    height: 250px;
}

.sectionRecipeDio_right_button{
    width: 90px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 290px;
    left: 200px;
}

.sectionRecipeDio_right5_button{
    position: absolute;
    bottom: -500px;
    width: 150px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 300px;
    display: flex;
    justify-content: space-between;
}



.sectionRecipeDio_p5left_button_round{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    font-size: 16px;
}


.sectionRecipeDio_p5right_button_round{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    font-size: 16px;
}


//_________________________________6

.sectionRecipeDio_right6{
    width: 100%;
    height: 300px;
    margin-top: -130px;
    margin-left: -40px;
}

.sectionRecipeDio_right6_p1{
    background-color:$IAdialogue;
    padding: 14px 20px;
    border-radius: 10px;
    width:370px ;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.sectionRecipeDio_right6_p2{
    background-color:$DialogueUtilisateur;
    color: $secondtextColor;
    text-align: right;
    padding: 14px 20px;
    border-radius: 10px;
    width:190px ;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 220px;
}

.sectionRecipeDio_right6_p3{
    background-color:$IAdialogue;
    padding: 10px 10px;
    border-radius: 10px;
    width:150px ;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sectionRecipeDio_right6_p3_min{
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    border-color:$primarytextColor ;
    border: 3px solid;
    font-size: 30px;
}

.sectionRecipeDio_left6_img{
    margin-top: -120px;
    margin-left: 110px;
    width: 250px;
    height: 300px;
}

.sectionRecipeDio_right_button{
    width: 90px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 290px;
    left: 200px;
}

.sectionRecipeDio_right6_button{
    position: absolute;
    bottom: -500px;
    width: 150px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 300px;
    display: flex;
    justify-content: space-between;
}



.sectionRecipeDio_p6left_button_round{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    font-size: 16px;
}


.sectionRecipeDio_p6right_button_round{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    font-size: 16px;
}

//_________________________________7

.sectionRecipeDio_right7{
    width: 100%;
    height: 300px;
    margin-top: -130px;
    margin-left: -40px;
}

.sectionRecipeDio_right7_p1{
    background-color:$IAdialogue;
    padding: 14px 20px;
    border-radius: 10px;
    width:370px ;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.sectionRecipeDio_right7_p2{
    background-color:$DialogueUtilisateur;
    color: $secondtextColor;
    text-align: right;
    padding: 14px 20px;
    border-radius: 10px;
    width:50px ;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 360px;
}

.sectionRecipeDio_right7_p3{
    background-color:$DialogueUtilisateur;
    color: $secondtextColor;
    text-align: right;
    padding: 14px 20px;
    border-radius: 10px;
    width:50px ;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 220px;
}

.sectionRecipeDio_right7_p3_min{
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    border-color:$primarytextColor ;
    border: 3px solid;
    font-size: 30px;
}

.sectionRecipeDio_left7_img{
    margin-top: -120px;
    margin-left: 110px;
    width: 250px;
    height: 300px;
}

.sectionRecipeDio_right_button{
    width: 90px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 290px;
    left: 200px;
}

.sectionRecipeDio_p7left_button{
    width: 90px;
    padding: 10px 15px 10px 15px;
    align-items: flex-start;
    border-radius: 8px;
    margin-right: 50px;
    margin-left: -20px;
    cursor: pointer;
    background-color: $secondtextColor;
    color: $primarytextColor;
    font-size: 12px;
    margin-left: -100px;
    margin-right: 150px;
}



}
