
.sectionRecipeDuo{
    width: 100%;
    height: 1000px;
    background-color: $bodycolor;
}

.sectionRecipeDuo_left{
    width: 50%;
    height: 950px;
    background-color: $secondtextColor;
    position: absolute;
    top:50px;
}
//__________________________________________

.sectionRecipeDio_left_picto1{
    position: absolute;
    top:100px;
    left: 20px;
}

.sectionRecipeDio_left_picto2{
    position: absolute;
    top:100px;
    left: 90px;

}
//______________0 LEFT____________________


.sectionRecipeDio_left0_img{
    margin-top: 200px;
    margin-left: 150px;
}

.sectionRecipeDio_left0_img.active{
   display: none;
}

//______________0 RIGHT____________________
.sectionRecipeDio_right0{
    position: absolute;
    bottom:500px;
    left: 950px;
}

.sectionRecipeDio_rightO.active{
    display: none;
}

.sectionRecipeDio_right_button{
    display: flex;
    justify-content: space-between;
    width: 200px;
    position: absolute;
    top:650px;
    left: 300px;
}

.sectionRecipeDio_right0_p1{
    background-color:$IAdialogue;
    padding: 14px 20px;
    border-radius: 10px;
    width:580px ;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sectionRecipeDio_right0_p2{
    background-color:$DialogueUtilisateur;
    color: $secondtextColor;
    text-align: right;
    padding: 14px 20px;
    border-radius: 10px;
    width:50px ;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 670px;
}


.sectionRecipeDio_right0_button{
    position: absolute;
    bottom: -500px;
    width: 144px;
    padding: 14px 33px 14px 27px;
    align-items: flex-start;
    border-radius: 8px;
    margin-left: 330px;
    cursor: pointer;

}

//__________________________________________
//__________________________________________
//__________________________________________
//__________________________________________


//________________1 LEFT____________________

.sectionRecipeDio_left1_img{
    margin-top: 200px;
    margin-left: 150px;
    display: none;
}

.sectionRecipeDio_left1_img.active{
    display: block;
}

//________________1 RIGHT____________________

.sectionRecipeDio_right1{
    position: absolute;
    bottom:500px;
    left: 950px;
    display: none;
}

.sectionRecipeDio_right1.active{
    display: block;
}

.sectionRecipeDio_right1_p1{
    background-color:$IAdialogue;
    padding: 14px 20px;
    border-radius: 10px;
    width:580px ;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sectionRecipeDio_right1_p2{
    background-color:$DialogueUtilisateur;
    color: $secondtextColor;
    text-align: right;
    padding: 14px 20px;
    border-radius: 10px;
    width:50px ;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 670px;
}

.sectionRecipeDio_right1_button{
    position: absolute;
    bottom: -500px;
    width: 200px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 300px;
    display: flex;
    justify-content: space-between;
}



.sectionRecipeDio_p1left_button_round{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    font-size: 36px;
}


.sectionRecipeDio_p1right_button_round{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    font-size: 36px;
}

//__________________________________________
//__________________________________________
//__________________________________________
//__________________________________________


//________________2 LEFT____________________

.sectionRecipeDio_left2_img{
    margin-top: 200px;
    margin-left: 150px;
    display: none;
}

.sectionRecipeDio_left2_img.active{
    display: block;
}

//________________2 RIRGHT____________________

.sectionRecipeDio_right2{
    position: absolute;
    bottom:500px;
    left: 950px;
    top:200px;
    display: none;
}

.sectionRecipeDio_right2.active{
    display: block;
}

.sectionRecipeDio_right2_p1{
    background-color:$IAdialogue;
    padding: 14px 20px;
    border-radius: 10px;
    width:580px ;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sectionRecipeDio_right2_p2{
    background-color:$IAdialogue;
    padding: 14px 20px;
    border-radius: 10px;
    width:280px ;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sectionRecipeDio_right2_p3{
    background-color:$IAdialogue;
    padding: 14px 20px;
    border-radius: 10px;
    width:580px ;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.sectionRecipeDio_right2_button{
    position: absolute;
    bottom: -500px;
    width: 200px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 300px;
    display: flex;
    justify-content: space-between;
}



.sectionRecipeDio_p2left_button_round{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    font-size: 36px;
}


.sectionRecipeDio_p2right_button_round{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    font-size: 36px;
}

//__________________________________________
//__________________________________________
//__________________________________________
//__________________________________________

//________________3 LEFT____________________

.sectionRecipeDio_left3_img{
    margin-top: 200px;
    margin-left: 150px;
    display: none;
}

.sectionRecipeDio_left3_img.active{
    display: block;
}

//________________3 RIRGHT____________________

.sectionRecipeDio_right3{
    position: absolute;
    bottom:500px;
    left: 950px;
    top:200px;
    display: none;
}

.sectionRecipeDio_right3.active{
    display: block;
}

.sectionRecipeDio_right3_p1{
    background-color:$IAdialogue;
    padding: 14px 20px;
    border-radius: 10px;
    width:580px ;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.sectionRecipeDio_right3_button{
    position: absolute;
    bottom: -500px;
    width: 200px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 300px;
    display: flex;
    justify-content: space-between;
}



.sectionRecipeDio_p3left_button_round{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    font-size: 36px;
}


.sectionRecipeDio_p3right_button_round{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    font-size: 36px;
}

//__________________________________________
//__________________________________________
//__________________________________________
//__________________________________________

//________________4 LEFT____________________

.sectionRecipeDio_left4_img{
    margin-top: 200px;
    margin-left: 150px;
    display: none;
}

.sectionRecipeDio_left4_img.active{
    display: block;
}

//________________4 RIRGHT____________________

.sectionRecipeDio_right4{
    position: absolute;
    bottom:500px;
    left: 950px;
    top:200px;
    display: none;
}

.sectionRecipeDio_right4.active{
    display: block;
}

.sectionRecipeDio_right4_p1{
    background-color:$IAdialogue;
    padding: 14px 20px;
    border-radius: 10px;
    width:580px ;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.sectionRecipeDio_right4_button{
    position: absolute;
    bottom: -500px;
    width: 200px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 300px;
    display: flex;
    justify-content: space-between;
}


.sectionRecipeDio_p4left_button_round{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    font-size: 36px;
}


.sectionRecipeDio_p4right_button_round{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    font-size: 36px;
}


//__________________________________________
//__________________________________________
//__________________________________________
//__________________________________________

//________________5 LEFT____________________

.sectionRecipeDio_left5_img{
    margin-top: 200px;
    margin-left: 150px;
    display: none;
}

.sectionRecipeDio_left5_img.active{
    display: block;
}

//________________5 RIRGHT____________________

.sectionRecipeDio_right5{
    position: absolute;
    bottom:500px;
    left: 950px;
    top:200px;
    display: none;
}

.sectionRecipeDio_right5.active{
    display: block;
}

.sectionRecipeDio_right5_p1{
    background-color:$IAdialogue;
    padding: 14px 20px;
    border-radius: 10px;
    width:580px ;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.sectionRecipeDio_right5_button{
    position: absolute;
    bottom: -500px;
    width: 200px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 300px;
    display: flex;
    justify-content: space-between;
}


.sectionRecipeDio_p5left_button_round{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    font-size: 36px;
}


.sectionRecipeDio_p5right_button_round{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    font-size: 36px;
}


//__________________________________________
//__________________________________________
//__________________________________________
//__________________________________________

//________________6 LEFT____________________

.sectionRecipeDio_left6_img{
    margin-top: 200px;
    margin-left: 150px;
    display: none;
}

.sectionRecipeDio_left6_img.active{
    display: block;
}

//________________6 RIRGHT____________________

.sectionRecipeDio_right6{
    position: absolute;
    bottom:500px;
    left: 950px;
    top:200px;
    display: none;
}

.sectionRecipeDio_right6.active{
    display: block;
}

.sectionRecipeDio_right6_p1{
    background-color:$IAdialogue;
    padding: 14px 20px;
    border-radius: 10px;
    width:580px ;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 40px;
}

.sectionRecipeDio_right6_p2{
    background-color:$DialogueUtilisateur;
    color: $secondtextColor;
    padding: 14px 20px;
    border-radius: 10px;
    text-align: right;
    width:280px ;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 450px;
    margin-bottom: 40px;

}

.sectionRecipeDio_right6_p3{
    background-color:$IAdialogue;
    padding: 14px 20px;
    border-radius: 10px;
    width:280px ;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sectionRecipeDio_right6_p3_min{
    padding: 20px 50px;
    border-radius: 10px;
    border-color:$primarytextColor ;
    border: 3px solid;
    font-size: 60px;
}

.sectionRecipeDio_right6_button{
    position: absolute;
    bottom: -500px;
    width: 200px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 300px;
    display: flex;
    justify-content: space-between;
}


.sectionRecipeDio_p6left_button_round{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    font-size: 36px;
}


.sectionRecipeDio_p6right_button_round{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    font-size: 36px;
}


//__________________________________________
//__________________________________________
//__________________________________________
//__________________________________________

//________________7 LEFT____________________

.sectionRecipeDio_left7_img{
    margin-top: 200px;
    margin-left: 150px;
    display: none;
}

.sectionRecipeDio_left6_img.active{
    display: block;
}

//________________7 RIRGHT____________________

.sectionRecipeDio_right7{
    position: absolute;
    bottom:500px;
    left: 950px;
    top:200px;
    display: none;
}

.sectionRecipeDio_right7.active{
    display: block;
}

.sectionRecipeDio_right7_p1{
    background-color:$IAdialogue;
    padding: 14px 20px;
    border-radius: 10px;
    width:580px ;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sectionRecipeDio_right7_p2{
    background-color:$DialogueUtilisateur;
    color: $secondtextColor;
    padding: 14px 20px;
    border-radius: 10px;
    width:60px ;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 670px;
    text-align: right;

}


.sectionRecipeDio_right7_button{
    position: absolute;
    bottom: -500px;
    width: 200px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 300px;
    display: flex;
    justify-content: space-between;
}


.sectionRecipeDio_p7left_button{
    position: absolute;
    bottom: -500px;
    width: 144px;
    padding: 14px 33px 14px 27px;
    align-items: flex-start;
    border-radius: 8px;
    margin-left: 330px;
    cursor: pointer;
    background-color: $secondtextColor;
    color: $primarytextColor;
    font-size: 36px;
}


.sectionRecipeDio_p7right_button{
    position: absolute;
    bottom: -500px;
    width: 144px;
    padding: 14px 33px 14px 27px;
    align-items: flex-start;
    border-radius: 8px;
    margin-left: 330px;
    cursor: pointer;
    background-color: $secondtextColor;
    color: $primarytextColor;
    font-size: 36px;

}
