.header_{
    margin: auto 0;
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 1;
    top: 10px
 }
 
 .header_img{
     width: 148px;
     height: 39px;
     margin-top: 82px;
     margin-left: 181px;
 }
 
 .news{
     display: flex;
     justify-content: space-between;
     margin-left: 650px;
     list-style: none;
 }
 
 .news_1, .news_2,.news_3,.news_4,.news_5{
     margin-left: 20px;
     margin-right: 40px;
     margin-top: 82px;
     font-size: 18px;
 }