.header_ {
  margin: auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 1;
  background-color: $secondtextColor;
  width: 100%;
  top: 0;
}
   
.header_img {
  width: 148px;
  height: 39px;
  margin-top: 30px;
  margin-left: 20px;
  cursor: pointer;
}
  
.news {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 120px;
}
  
.news_1, .news_2, .news_3, .news_4, .news_5 {
  margin-left: 20px;
  margin-right: 40px;
  margin-top: 30px;
  font-size: 20px;
  text-transform: uppercase;
  list-style: none;
  text-decoration: none;
}

.burger_menu {
  display: none;
  cursor: pointer;
  font-size: 30px;
  margin-top: 62px;
  margin-right: 20px;
}

.nav_menuResponsive{
  display: none;
}


/*___IPAD___*/


@media only screen and (max-width: 1024px){
  .header_img{
    width: 200px;
    height: 20px;
  }

  .burger_menu {
    display: inline-block;
    cursor: pointer;
    font-size: 30px;
    margin-top: 62px;
  }

  .burger_icon{
    margin-left: 700px;
    cursor: pointer;
  }

  .nav_menu{
    display: none;
  }

  .nav_menuResponsive{
    display: block;
  }

  .nav_menuResponsive{
    display: none;
  }

  .nav_menuResponsive.active{
    width: 100%;
    background-color: $secondtextColor;
    position: fixed;
    top: 100px;
    display: block;
  }

  .newsResponsive{
    display: block;
    text-align: center;
    list-style: none;
  }

  .news_1Responsive{
    font-size: 25px;
    margin-bottom: 20px;
  }

  .news_2Responsive{
    font-size: 25px;
    margin-bottom: 20px;
  }

  .news_3Responsive{
    margin-bottom: 20px;
  }

  .news_4Responsive{
    margin-bottom: 20px;
  }
}
  
  /*_____TELEPHONE_____*/
  

@media only screen and (max-width: 678px){
  .header_img{
    width: 120px;
    height: 20px;
  }

  .burger_icon{
    margin-left: 40px;
    cursor: pointer;
  }
}