.sectionKitchen{
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 1000px;
}

.sectionKitchen_{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 640px;
    margin-left: 166px;
    margin-right: 166px;
    padding-top: 215px;
}

.sectionKitchen_text{
    width: 669px;
}

.sectionKitchen_h2{
    font-family: $titleFamily;
    color: $primarytextColor;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.sectionKitchen_text_h3{
    font-family: $titleFamily;
    color: $primarytextColor;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.sectionKitchen_text_p{
    font-family: $secondFontFamily;
    color: $primarytextColor;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sectionKitchen_text_p2{
    font-family: $secondFontFamily;
    color: $primarytextColor;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sectionKitchen_text_buttons{
    width: 331px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.sectionKitchen_text_button1{
    display: flex;
    width: 142px;
    height: 52px;
    padding: 17px 54px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border-color: $bodycolor;
    color:$bodycolor;
    background-color: $secondtextColor;
    font-family: $secondFontFamily;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;

}

.sectionKitchen_text_button2{
    display: flex;
    width: 142px;
    height: 52px;
    padding: 17px 54px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    color: $secondtextColor;
    background-color:$bodycolor;
    border-color: $secondtextColor;
    font-family: $secondFontFamily;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;

}

/*___IPAD___*/


@media only screen and (max-width: 1024px) {
    .sectionKitchen_img{
        width: 530px;
        height: 390px;
    }
    
    .sectionKitchen{
        width: 100%;
        height: 1300px;
    }
    
    .sectionKitchen_{
        display: flex;
        flex-direction: column-reverse;
        margin-left: 100px;
        padding-top: 150px;

    }
    
    .sectionKitchen_text{
        width: 532px;
        margin-bottom: -400px;
    }
    
    .sectionKitchen_h2{
        font-family: $titleFamily;
        color: $primarytextColor;
        font-size: 36px;
        width: 503px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
    }
    
    .sectionKitchen_text_h3{
        font-family: $titleFamily;
        color: $primarytextColor;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    
    .sectionKitchen_text_p{
        font-family: $secondFontFamily;
        color: $primarytextColor;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    
    }
    
    .sectionKitchen_text_p2{
        font-family: $secondFontFamily;
        color: $primarytextColor;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    
    }
        
    .sectionKitchen_text_button1{
        display: flex;
        width: 144px;
        height: 49px;
        padding: 17px 54px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 8px;
        border-color: $secondtextColor;
        font-family: $secondFontFamily;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        cursor: pointer;
    
    }
    
    .sectionKitchen_text_button2{
        display: flex;
        width: 144px;
        height: 49px;
        padding: 17px 54px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 8px;
        color: $secondtextColor;
        background-color:$bodycolor;
        border-color: $secondtextColor;
        font-family: $secondFontFamily;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        cursor: pointer;
    
    }
    }
       
     
    
    /*____TELEPHONE____*/
    
    
    @media only screen and (max-width: 678px){
        .sectionKitchen_img{
            width: 350px;
            height: 250px;
        }
        
        .sectionKitchen{
            width: 100%;
            height: 850px;
        }
        
        .sectionKitchen_{
            display: flex;
            flex-direction: column-reverse;
            padding-top: 100px;
        }
        
        .sectionKitchen_text{
            width: 350px;
            margin-bottom: -50px;
        }
       
        .sectionKitchen_h2{
            font-family: $titleFamily;
            color: $primarytextColor;
            font-size: 20px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
        }
        
        .sectionKitchen_text_h3{
            font-family: $titleFamily;
            color: $primarytextColor;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
        
        .sectionKitchen_text_p{
            font-family: $secondFontFamily;
            color: $primarytextColor;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
                    
        }
        
        .sectionKitchen_text_p2{
            font-family: $secondFontFamily;
            color: $primarytextColor;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        
        }
            
        .sectionKitchen_text_button1{
            display: flex;
            width: 144px;
            height: 49px;
            padding: 17px 54px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 8px;
            border-color: $secondtextColor;
            font-family: $secondFontFamily;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            cursor: pointer;
        
        }
        
        .sectionKitchen_text_button2{
            display: flex;
            width: 144px;
            height: 49px;
            padding: 17px 54px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 8px;
            color: $secondtextColor;
            background-color:$bodycolor;
            border-color: $secondtextColor;
            font-family: $secondFontFamily;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            cursor: pointer;
        
        }
        
    
    }

   